/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	background-color: green;
	font-family: 'Merriweather Sans', cursive;
}
