/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    background-color: bisque;
    font-family: 'Press Start 2P', cursive;
}